* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blue;
}

.milan {
    text-align: center;
    max-width: 600px;
    background-image: linear-gradient(to left, red, rgb(74, 74, 74));
    margin: 13px auto;
    border: solid black 4px;
    border-radius: 6px;
}

/* estilo a la nueva rama flex-index */
.flex-index {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-index img {
    padding: 6px;
}

.milan:hover {
    background-color: yellow;
    transition: .4s;

}

h1:hover {
    color: darkorchid;
    transform: skew(-22deg);
    transition: 0.4s;
}

/* Mobile Last */
@media (max-width: 550px) {
    .milan {
        background-image: linear-gradient(to left, green, red);
        font-style: italic;
        text-decoration: underline;

    }
}