* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blue;
}

.milan {
    text-align: center;
    max-width: 600px;
    background-color: red;
    margin: 13px auto;
    border: solid black 4px;
    border-radius: 6px;
}

/* Mobile Last */
@media (max-width: 550px) {
    .milan {
        background-color: rgb(24, 212, 84);

    }
}